body{
    background-color: #209ea2;
    margin: 0;
}
.fundo{
    width: 1200px;
    height: 50px;
    margin: auto;
}
.menu{
    font-family: Ubuntu;
    display: inline-block;
    width:1200px;
    height: 50px;
    background-color: black;
    margin: auto;
    text-align: center;
}
.menu a{
        color: #FFFFFF;
        text-decoration: none;
        display: inline-block;
        padding: 15px 16px 16px 16px;
        border-top: 2px solid rgb(99, 99, 99);
        border-bottom: 2px solid transparent;
        transition: border 0.5s;
    }
.menu a:hover{
        color: #FFFFFF;
        border-top: 2px solid #FFFFFF;
}
.content{
    margin: auto;
    width:1200px;
    height:400px;
    background-color: white;
}
.titulo{
    float: left;
    text-align: center;
}
.texto_construct p{
    text-align: justify;
    float: left;
    font-size: 24px;
    font-family: Ubuntu;
    margin-left: 90px;
    margin-right: 90px;

}
.texto_construct h1{
    float: left;
    font-family: Ubuntu;
    font-size: 48px;
    text-align: center;
    margin-left: 500px;
}
.foto{
    background-color: white;
    width: 1200px;
}
.foto img{
    margin-left: 80px;
    display: inline-block;
    margin-bottom: 20px;
}
.botao{
    width:1200px;
    height: 60px;
    background-color: white;
    margin: auto;
}
.botao a{
    margin-left: 540px;
    margin-top: 100%;
    border: 2px solid black;
    background-color: white;
    color: black;
    font-family: ubuntu;
    font-size: 36px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    transition: all 500ms ease;
}
.botao a:hover{
    border: 2px solid grey;
    color:white;
    background-color: black;

}
a{
    color:black;
}