.tamanho{
    background-color:white;
    margin:auto;
    width: 1200px;
    height: 700px;
}
.banner{
    float:left;
    width:400px;
    height: 600px;
    margin-left: 140px;
    margin-top: 40px;
    border-radius: 2%;
    border: 2px solid black;
    transition:all 200ms
}
.bannerb{
    float:left;
    width:400px;
    height: 600px;
    margin-left: 140px;
    margin-top: 40px;
    border-radius: 2%;
    border: 2px solid black;
    transition:all 400ms
}
.banner:hover{
    background-color: #f0fffd; 
}
.bannerb:hover{
    background-color: #fff3f0; 
}
.banner img{
    margin-top: 10px;
    margin-left: 4px;
    transition: all 1s;
}