body {
    margin: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transition: all 1s;
    font-family: 'Aleo', serif;
}
#header{
    color: red;
    filter: brightness(50%)
}

#content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    margin-top: 5vh;
    width: 100vh;
    height: 50vh;
    box-shadow: 13px 11px 22px -8px rgba(0,0,0,0.75);
    font-family: cursive;
    transition: transform 1s smooth;
}
button{
    width: 300px;
}
input{
    width: 295px;
}

h1{
    font-size: 70px;
}
#content.h1{
    font-size: 70px;
}

